[Desktop Entry]
Name=Quasar
GenericName=Application Launcher
Comment=Fast and sleek application launcher and command palette
Exec=quasar --toggle
Icon=quasar
Terminal=false
Type=Application
Categories=System;Utility;
Keywords=launcher;command palette;desktop;quasar;
