[Desktop Entry]
Name=Quasar Theme Selector
GenericName=Launcher Theme Customizer
Comment=Customize themes and styles for Quasar Launcher
Exec=quasar-theme-selector
Icon=quasar
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;
Keywords=theme;style;quasar;launcher;customization;
